# vim:ft=gitconfig:tw=80:ts=4:noet:shiftwidth=4:

#############################################
# 在 $HOME/.gitignore 中添加下面两行
# [include]
# 	path = ~/.config/pithy_configs/.gitconfig
#############################################


[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	trustExitCode = true
[alias]
	vd = difftool
	co = checkout
	st = status -sb
	br = branch
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
	trustExitCode = true
[core]
	editor = nvim
	# 可以在 ~/.gitconfig 中通过设置 `excludesfile = ""` 删除默认忽略配置
	# 或者 `excludesfile = "/path/to/your/file"` 来覆盖默认忽略配置
	excludesfile = ~/.config/pithy_configs/.ggitignore

