; vim:ft=gitconfig:tw=80:ts=4:noet:shiftwidth=4:

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; 在 $HOME/.gitignore 中添加下面两行
; [include]
; 	path = ~/.config/pithy_configs/.gitconfig
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	trustExitCode = true
[alias]
	vd = difftool
	co = checkout
	st = status -sb
	br = branch
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
	trustExitCode = true
[core]
	editor = nvim
